/* variaveis */

:root {
    --bs-success: #2ECC71;
    --bs-secondary: #198754; /* Nova cor para o tema secundário */
    --smal: 1rem;
    --med: 1.4rem;
    --large: 2rem;
    --xx-large: 3rem;
}

/* minhas classes */

.training {
    text-decoration: none;
    color: black;
}

/* icones */
.bi:hover {
    color: var(--bs-success);
}